html {
  font-size: 16px;
  font-family: "CODEC-COLD-LIGHT-TRIAL", serif;

  width: 100vw;
  height: 100%;
}

.container {
  width: 100%;
  height: auto;
}

nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

/* Whatsapp */
.icon {
  position: fixed;
  bottom: 60px;
  right: 30px;
  font-size: 30px;
  background-color: #01e675;
  color: #ffffff;
  border-radius: 50%;
  padding: 3%;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  z-index: 100;
  box-shadow: 2px 2px 2px #c0bdbd;
  }

  .icon.fab{
  padding-top: 9px;
}
  
 .icon:hover{
  background-color: #fff;
  color: #029e3b;
  font-weight: 900;
  box-shadow: 2px 2px 20px #5fe690;
}

/* Header */

header > div > img {
  width: 100%;

  margin-bottom: 2rem;
}

header > div > section {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  text-align: center;
}

header > div > section > div > div {
  display: flex;
  flex-direction: column;

  align-items: center;

}

header > div > section > div > div > img {
  width: 3.13rem;
  height: 3.13rem;
  border-radius: 50%;

  background: rgb(133,99,61);
  background: -moz-linear-gradient(90deg, rgba(133,99,61,1) 0%, rgba(198,165,112,1) 50%, rgba(238,199,137,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(133,99,61,1) 0%, rgba(198,165,112,1) 50%, rgba(238,199,137,1) 100%);
  background: linear-gradient(90deg, rgba(133,99,61,1) 0%, rgba(198,165,112,1) 50%, rgba(238,199,137,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#85633d",endColorstr="#eec789",GradientType=1);

  margin-bottom: .5rem;


}

header > div > section > div > div > span {
  font-size: 1.2rem;
  color: #6a655e;
}

header > div > section > div > div > p {
  font-size: .8rem;

  color: #4f5665;
}




