/* estilo-geral */

:root {
  /* estilo-cores */
  --color-1: #85633d;
  --color-2: #85633d;
}

.button a{
  text-decoration: none;
  color: white;
}

html {
  /* estilo-fonte */
  font-size: 16px;
  text-wrap: wrap;
  width: 100vw;
  height: 100%;
  font-family: 'poppins-extralight' 
}

body {
  background-color: #fefaf5;
  color: #5C5346;
}

/* Título */

.titulo {
  font-size: 2rem;
  color: #5c5346;

  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (min-width: 999px) {
  .titulo {
      font-size: 3.2rem;
      text-align: left;
  }
}

/* menu-mobile */

.interface {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.flex {
  display: flex;
}

/* estilo-geral */

.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font: weight 600px;
  color: #fff5e9;
  background: linear-gradient(
    90deg,
    rgba(133, 99, 61, 1) 0%,
    rgba(198, 165, 112, 1) 50%,
    rgba(238, 199, 137, 1) 100%
  );
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: 1s;
}

input::placeholder {
  color: darkgray;
  font-weight: bold;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}

.btn-social button:hover,
form .btn-enviar input:hover {
  box-shadow: 0px 0px 8px #876a47;
  transform: scale(1.05);
}

.container {
  width: 100%;
  height: auto;
}

/* Whatsapp */
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 60px;
  right: 30px;
  font-size: 30px;
  background-color: #01e675;
  color: #ffffff;
  border-radius: 50%;
  padding: 3px;
  width: 70px;
  height: 70px;
  text-align: center;
  text-decoration: none;
  z-index: 100;
  box-shadow: 2px 2px 2px #c0bdbda5;
}

.icon.fab {
  padding-top: 9px;
}

.icon:hover {
  background-color: #ffdf;
  color: #029e3b;
  font-weight: 900;
  box-shadow: 2px 2px 20px #5fe690;
}

/* Header */

/* kay */

/* nav */

img#logo {
  height: 4rem;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  background-color: #E8CEA6;
  /* padding-top: ; */
}

header a {
  color: #876a47;
  text-decoration: none;
  display: inline-block;
  transition: 1s;
}
.menu-desktop {
  width: 45%;
}
.menu-desktop > ul {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  width: 100%;
}

nav.menu-desktop > ul > li > a {
  text-decoration: none;
  color: #876a47;
}

nav.menu-desktop > ul > li {
  color: #000000;
}

nav.menu-desktop > ul > li > a:hover {
  color: #b38d5e;
  transform: scale(1.05);
}

header nav ul {
  list-style-type: none;
}

header nav.menu-desktop ul li {
  display: inline-block;
  padding: 0 40px;
}

/* estilo-menuhamb */

.btn-abrir-menu i {
  color: #876a47;
  font-size: 40px;
  cursor: pointer;
}

.menu-mobile {
  background-color: #c99f6b;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 666666;
  width: 0%;
  overflow: hidden;
  transition: 1s;
}

.menu-mobile.abrir-menu {
  width: 50%;
}

.menu-mobile.btn-abrir-menu ~ .overlay-menu {
  display: block;
}

.menu-mobile .btn-fechar {
  padding: 20px 8%;
}

.menu-mobile .btn-fechar {
  color: #fefaf5;
  font-size: 30px;
  cursor: pointer;
}

.menu-mobile nav ul {
  text-align: right;
}

.menu-mobile nav ul li a {
  color: #fefaf5;
  font-size: 20px;
  font-weight: 300;
  padding: 20px 8%;
  display: block;
  text-decoration: none;
  background-color: #c99f6b;
}

.menu-mobile nav ul li a:hover {
  background-color: #876a47;
}

.btn-contato button:hover {
  box-shadow: 0px 0px 8px #876a47;
  transform: scale(1.05);
}

.overlay-menu {
  background-color: #876a47;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 444444;
  display: none;
}

@media screen and (min-width: 999px) {
  #btn-menu > i {
    display: none;
  }
}

/* estilo-topo-site */

/* kay */

header#main-header > div > img {
  width: 100%;
  margin-bottom: 2rem;
}

header#main-header>div>section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

header#main-header>div>section>div>div {
  display: flex;
  flex-direction: column;

  align-items: center;
}

header#main-header>div>section>div>div>img {
  width: 3.13rem;
  height: 3.13rem;
  border-radius: 50%;

  background: rgb(133, 99, 61);
  background: -moz-linear-gradient(90deg,
      rgba(133, 99, 61, 1) 0%,
      rgba(198, 165, 112, 1) 50%,
      rgba(238, 199, 137, 1) 100%);
  background: -webkit-linear-gradient(90deg,
      rgba(133, 99, 61, 1) 0%,
      rgba(198, 165, 112, 1) 50%,
      rgba(238, 199, 137, 1) 100%);
  background: linear-gradient(90deg,
      rgba(133, 99, 61, 1) 0%,
      rgba(198, 165, 112, 1) 50%,
      rgba(238, 199, 137, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#85633d", endColorstr="#eec789", GradientType=1);

  margin-bottom: 0.5rem;
}

header#main-header>div>section>div>div>span {
  font-size: 1.2rem;
  color: #6a655e;
}

header#main-header>div>section>div>div>p {
  font-size: 0.8rem;

  color: #4f5665;
}

header#main-header>div>section>.line {
  display: none;
}

@media (min-width: 999px) {
  header#main-header>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  header#main-header>div>section>div>div>img {
    width: 4rem;
    height: 4rem;
  }

  header#main-header>div>section>div>div {
    position: relative;
    top: -2rem;
  }

  header#main-header>div>section>div>div>span {
    font-size: 1.5rem;
    color: #6A655E;
  }

  header#main-header>div>section {
    bottom: -5rem;
    background: white;
    border-radius: .5rem;
    flex-direction: row;
    width: 80%;
    height: 13rem;
    padding: 0px 1rem;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 2px 1fr 2px 1fr;
    align-items: center;
    align-items: flex-start;
}

  header#main-header>div>img {
    margin-bottom: 0;
  }

  header#main-header>div>section>.line {
    display: block;
    height: 70%;
    border: 1px solid #EEEFF2;
  }
}


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Sobre nós */
#sobre-nos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  background: linear-gradient(180deg, #E8D0AE 0%, rgba(196, 164, 111, 0.08) 100%);


}

#sobre-nos>div {
  width: 90%;
  text-align: center;
}

#sobre-nos>div h2 {
  color: #5c5346;
}

/* Banner Sobre Nos */
#sobre-nos>div:nth-child(2) {
  margin-top: 2rem;
  padding-bottom: 1rem;
  

  display: flex;
  width: 90%;
  align-items: flex-start;
  justify-content: center;
}

#sobre-nos>div img {
  width: 100%;
  height: auto;
  border-radius: 2rem;
}

#sobre-nos>div p {
  text-align: initial;
  color: #7e7260;
}

#sobre-nos>div p>br {
  display: none;
}

#sobre-nos>div button {
  text-align: initial;
  width: 15rem;
  height: 3.12rem;
  text-align: center;
  border-radius: 0.5rem;
  color: white;
  background: linear-gradient(90deg, #85633D 0%, #C6A570 50%);
  cursor: pointer;
}

@media (min-width: 999px) {
  #sobre-nos {
    flex-direction: row;
    height: 100%;
    align-items: center;
    padding: 6rem 4%;
  }

  #sobre-nos>div {

    height: 100%;

    text-align: start;

    padding: 2rem 3rem;
  }

  #sobre-nos>div img {
    width: auto;
    height: 31rem;
  }

  #sobre-nos>div button {

height: 4rem;
}

  #sobre-nos>div p {
    font-size: 1.2rem;
  }

  #sobre-nos>div p>br {
    display: block;
  }

  #sobre-nos>div h2 {

display: block;

margin-bottom: 2rem;

}
}

/* Destaque do mes */

#destaque-do-mes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fefaf5;
  padding: 40px 4%;
}

#destaque-do-mes>button {
  display: none;
}

#destaque-do-mes>span {
  color: #5c5346;
  text-align: center;
} 


#destaque-do-mes p {
  text-align: center;
  color: #7e7260;
}

#destaque-do-mes>p>bt:not(#manter) {
  display: none;
}



/* Cards destaque do mes */

.card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
  padding: 2rem 0 ;
  margin: 1rem 0 ;

  border-radius: .5rem;
}

.card>div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card>div:nth-child(2)>img {
  width: 100%;
  max-height: 16rem;
}

.card>div>span {
  width: 100%;
  display: block;

  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;

  color: #5c5346;
}

.card>div>p {
  text-align: justify;
}

.card > div > a {
  all: unset;
}

.card > div > a > button {
  text-align: initial;
  width: 15rem;
  height: 3.12rem;
  text-align: center;
  border-radius: 0.5rem;
  color: white;
  background: linear-gradient(90deg, #85633D 0%, #C6A570 50%);
  cursor: pointer;
  margin-bottom: 1rem;
}

@media (min-width: 999px) {
  #destaque-do-mes>span {

display: block;

margin-top: 0rem;
}

  /* Cards destaque do mes */

  #cards-container>div {

display: grid;

width: 100%;

grid-template-columns: 1fr 1fr;

column-gap: 3rem;

padding: 0 3rem;

}

  .card {

flex-direction: row;

padding: 1rem 1rem;

box-shadow: 3px 3px 8px -6px;

}

  .card>div:nth-child(2)>img {
    height: 16rem;
    width: auto;
  }

  .card>div {

align-items: center;

justify-content: flex-start;

}

  .card>div>span {
    text-align: left !important;
  }

  header#main-header>div>section>div>div>p {
    
text-align: center;
    
font-size: 1rem;
    
color: #4F5665;
  }

  .card>div>p {
    text-align: left !important;
  }

  .card > div > button {
    
font-size: 1rem;
  }
}


/* Conheça nossas unidades */

#unidades {
  width: 100%;
  height: auto;

  
  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(180deg, #E8D0AE 0%, rgba(196, 164, 111, 0.08) 100%);


  padding-bottom: 1rem;
}

#unidades>div {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#unidades>div button {
  width: 15rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: white;
  align-self: center;
  background: linear-gradient(90deg, #85633D 0%, #C6A570 50%);
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

#unidades>div>span {
  color: #5c5346;
  text-align: center;
  margin-top: 2rem;
}

#unidades>div img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}


@media (min-width: 999px) {
  #unidades {
  flex-direction: row-reverse;
  padding: 3rem 8rem;

  }

  #unidades>div img {
    
width: 26rem;
    
height: auto;
  }

  #unidades>div>p {
    
font-size: 1.2rem;
  }

  #unidades>div button {
    
width: 24rem;
    
height: 3rem;
  }

  #unidades>div>span {
    margin: 0;
  }
}

/* Especialidades */

#especialidades {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fefaf5;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

#especialidades>div {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.card>div>div {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: center;

  width: 90%;
}

.card>div>div>div>img {
  width: 100%;
  margin-bottom: 1rem;
}


#especialidades>div>span {
  color: #5c5346;
  text-align: center;
  margin-top: 2rem;
}

#especialidades>div>p {
  text-align: initial;
  color: #7e7260;
  width: 70%;
}

#especialidades>div>a {
  all: unset;
}

#especialidades>div>a>button {
  color: white;
  background: linear-gradient(90deg, #85633D 0%, #C6A570 50%);
  cursor: pointer;
  height: 3rem;
  border-radius: 0.5rem;
  width: 100%;
  height: 5rem;
  padding: 0 1rem;
}

/* Cards das especialidades */
.card>div>div>span {
  font-size: 2rem;
  font-weight: bolder;
  text-align: left;
}

.card>div>div>p {
  color: #7e7260;
}


@media (min-width: 999px) {
  #cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    padding: 40px 4%;
  }

    #especialidades {
      padding: 40px 4%;
    }

  #especialidades>div>p {
    width: 60%;
    text-align: center;
    }

  #especialidades>div>span {

margin-top: 0;

}

#especialidades>div>a>button {
  height: 3rem;
  width: 35rem;
}
}

/* BellaFeel Academy */

#academy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 0.5rem;
  background: linear-gradient(180deg, #E8D0AE 0%, rgba(196, 164, 111, 0.08) 100%);

}

#academy>div {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#academy>div>span {
  width: 100%;
  text-align: center;
}

#academy>div>p {
  color: #7e7260;
}

/* Formulário Academy */

#academy-formulario {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#academy-formulario>form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

#academy-formulario>form>input {
  all: unset;
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  background: transparent;
  border: 1.5px solid #C6A570;

  /* this doesn't work */
  padding-left: .5rem;
  border-radius: .5rem;
  opacity: .8;
}

#academy-formulario>form>button[type="submit"] {
  all: unset;
  color: white;
  background: linear-gradient(90deg, #85633D 0%, #C6A570 50%);


  cursor: pointer;
  height: 3rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  letter-spacing: 0.5px;
}

#academy-formulario>form>input::placeholder {
  color: #85633D;
  font-weight: bold;
}

#academy-banner {
  margin-top: 1rem;
}

#academy-banner>img {
  width: 100%;
}

@media screen and (min-width: 999px) {
  #academy {
    
display: grid;
    
grid-template-columns: 1fr 1fr;
    
padding: 40px 8%;
    
height: 100%;
    
align-items: center;
  }

  #academy>div {
    
height: max-content;
    
justify-content: flex-start;
  }

  #academy>div>span {
      
margin-bottom: 2rem;
  }

  #academy>div>p {
    
margin-bottom: 4rem;
  }

  #academy-formulario>form {
    
width: 100%;
  }

  #academy-formulario>form>input {
    
height: 3.5rem;
  }

  #academy-banner>img {
    
width: initial;
  }
}

/* Agende sua transformação */

#agendamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#agendamento>div {
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#agendamento>div span {
  color: #5c5346;
}

#agendamento>div>p {
  font-size: 0.8rem;

  color: #4f5665;
}

#agendamento>div>img {
  width: 100%;
  margin-bottom: 2rem;
}

#agendamento-formulario-container {

  width: 100%;
}

#agendamento>div:nth-child(2) form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#agendamento>div:nth-child(2) form>input {
  all: unset;
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  background: transparent;
  border: .17rem solid rgba(198, 165, 112, .7);
  text-align: left;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
}

#agendamento>div:nth-child(2) form>button[type="submit"] {
  background: linear-gradient(90deg, #85633D 0%, #C6A570 50%);
  cursor: pointer;
  height: 4rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  color: white;
  letter-spacing: 0.5px;
  width: 9rem;
}

label[for="cars"] {
  font-size: 1.5rem;
  color: #5c5346;
  margin-bottom: 1.5rem;
}

select[name="servicos"] {
  all: unset;
  width: 100%;
  height: 3rem;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid #5c5346;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  color: #5c5346;
  margin-bottom: 2rem;
}

select[name="servicos"]>option {
  width: 100%;
  background: #FEFAF5;
  border: 1px solid #0000001A
}


@media screen and (min-width: 999px) {

  #agendamento {
  flex-direction: row;
  padding: 40px 8%;
  height: 100%;
  }
  #agendamento>div {
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  }

  #agendamento>div span {
    
text-align: left;
  }

  #agendamento>div>p {
    
font-size: 1rem;
    
text-align: left;
    
font-weight: 300;
    
margin-bottom: 3rem;
  }

  label[for="cars"] {
    
font-size: 2rem;
    
text-align: left;
    
width: 100%;
    
margin-top: 2rem;
  }

  select[name="servicos"] {
    
width: 29rem;
    
height: 6rem;
    
align-self: flex-start;
    
margin-bottom: 4rem;
  }

  #agendamento div  a {
    margin-bottom: 3rem;
  }

  #agendamento>div:nth-child(2) form>input {
    margin-bottom: 2rem;
  }
}



/* navbar */

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.logo {
  height: 3rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #ebcea6;
  height: 5rem;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  cursor: pointer;
}

.mobile-menu div {
  width: 30px;
  height: 2px;
  background: #565555;
  margin: 8px;
  transition: 0.3s;
}
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #ebcea6;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate (-5px, -7px);
}

/* footer */

footer {
  padding: 60px 4%;
  margin-top: 50px;
  box-shadow: 0 0 40px 10px #eddcc878;
  width: 100%;
}
footer{
  background-color: #E8D5B9;
}
footer .flex {
  justify-content: space-between;
  align-items: center;
}

footer .line-footer {
  padding: 20px 0;
  width: 100%;
}

footer .line-footer p i {
  color: #5c5346;
  font-size: 18px;
}

.borda {
  border-top: 2px solid #5c5346;
}

footer .line-footer p a {
  text-decoration: none;
}

footer .texto-footer p {
  color: #000000;
  cursor: pointer;
  text-align: left;
}

footer .texto-footer p a{
  color: #000000;
}


/* responsive */



@media screen and (max-width: 999px) {

  /* classes gerais */

  .flex {
    flex-direction: column-reverse;
  }

  /* cabecalho */

  .menu-desktop,
  .btn-contato {
    display: none;
  }

.btn-social {
  text-align: center;
}

/* footer */

footer .flex {
  flex-direction: column;
  }
  
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (min-width: 999px) {
  .logo-footer {
    margin-right: 6rem;
  }

  .texto-footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}

#instagram {
  background: #FEFAF5B2;
  width: 100%;
  pad: 40px 4%;



}

/* Instagram  */
.eapps-instagram-feed-posts-grid-load-more-visible {
  display: none;


}