html {
  font-size: 16px;
  font-family: "CODEC-COLD-LIGHT-TRIAL", serif;

  width: 100vw;
  height: 100%;
}

.container {
  width: 100%;
  height: auto;
}

nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

header {
  
}
 .icon {
    position: fixed;
    bottom: 60px;
    right: 30px;
    font-size: 30px;
    background-color: #01e675;
    color: #ffffff;
    border-radius: 50%;
    padding: 3%;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    z-index: 100;
    box-shadow: 2px 2px 2px #c0bdbd;
    }

    .icon.fab{
    padding-top: 9px;
  }
    
   .icon:hover{
    background-color: #fff;
    color: #029e3b;
    font-weight: 900;
    box-shadow: 2px 2px 20px #5fe690;
  }